In [1]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
pd.read_csv(r"C:\Users\User\Documents\Datasets\test_lAUu6dG.csv")
loan = pd.read_csv(r"C:\Users\User\Documents\Datasets\test_lAUu6dG.csv")

In [9]:
loan.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [22]:
loan[loan.Credit_History == 0]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
35,LP001203,Male,No,0,Graduate,No,3150,0,176.0,360.0,0.0,Semiurban
55,LP001313,Male,No,0,Graduate,No,2750,0,130.0,360.0,0.0,Urban
58,LP001323,Female,Yes,2,Graduate,No,2779,3664,176.0,360.0,0.0,Semiurban
63,LP001347,Female,No,0,Graduate,No,2101,1500,108.0,360.0,0.0,Rural
66,LP001352,Male,Yes,0,Not Graduate,No,4700,0,135.0,360.0,0.0,Semiurban
67,LP001358,Male,Yes,0,Graduate,No,3445,0,130.0,360.0,0.0,Semiurban
69,LP001361,Male,Yes,0,Graduate,No,2458,5105,188.0,360.0,0.0,Rural
80,LP001420,Male,Yes,3+,Graduate,No,3829,1103,163.0,360.0,0.0,Urban
82,LP001445,Male,Yes,2,Not Graduate,No,4136,0,149.0,480.0,0.0,Rural
84,LP001450,Male,Yes,0,Graduate,No,4456,0,131.0,180.0,0.0,Semiurban
94,LP001496,Male,Yes,1,Graduate,No,4609,2333,123.0,360.0,0.0,Semiurban
101,LP001542,Female,Yes,0,Graduate,No,2262,0,NaN,480.0,0.0,Semiurban
106,LP001563,NaN,No,0,Graduate,No,1596,1760,119.0,360.0,0.0,Urban
117,LP001611,Male,Yes,1,Graduate,No,1516,2900,80.0,NaN,0.0,Rural
118,LP001613,Female,No,0,Graduate,No,1762,2666,104.0,360.0,0.0,Urban
119,LP001622,Male,Yes,2,Graduate,No,724,3510,213.0,360.0,0.0,Rural
123,LP001652,Male,No,0,Graduate,No,2500,6414,187.0,360.0,0.0,Rural
124,LP001655,Female,No,0,Graduate,No,12500,0,300.0,360.0,0.0,Urban
126,LP001662,Male,No,0,Graduate,No,6500,0,71.0,360.0,0.0,Urban
140,LP001785,Male,No,0,Graduate,No,4727,0,150.0,360.0,0.0,Rural
142,LP001789,Male,Yes,3+,Not Graduate,NaN,6794,528,139.0,360.0,0.0,Urban
147,LP001817,Male,No,0,Not Graduate,Yes,8703,0,199.0,360.0,0.0,Rural
153,LP001853,Male,Yes,1,Not Graduate,No,2463,2360,117.0,360.0,0.0,Urban
161,LP001906,Male,No,0,Graduate,NaN,2964,0,84.0,360.0,0.0,Semiurban
165,LP001923,Male,No,0,Not Graduate,No,2268,0,170.0,360.0,0.0,Semiurban
166,LP001933,Male,No,2,Not Graduate,No,1141,2017,120.0,360.0,0.0,Urban
168,LP001950,Female,Yes,3+,Graduate,NaN,1750,2935,94.0,360.0,0.0,Semiurban
173,LP001979,Male,No,0,Graduate,No,3017,2845,159.0,180.0,0.0,Urban
174,LP001995,Male,Yes,0,Not Graduate,No,2431,1820,110.0,360.0,0.0,Rural
192,LP002069,Male,Yes,2,Not Graduate,NaN,3785,2912,180.0,360.0,0.0,Rural
193,LP002070,Male,Yes,3+,Not Graduate,No,2654,1998,128.0,360.0,0.0,Rural
196,LP002090,Male,Yes,1,Graduate,No,4796,0,114.0,360.0,0.0,Semiurban
198,LP002099,Male,Yes,2,Graduate,No,2540,700,104.0,360.0,0.0,Urban
211,LP002168,Male,No,0,Graduate,No,5333,2400,200.0,360.0,0.0,Rural
224,LP002256,Female,No,2,Graduate,Yes,5184,0,187.0,360.0,0.0,Semiurban
229,LP002286,Male,Yes,3+,Not Graduate,No,5180,0,125.0,360.0,0.0,Urban
235,LP002316,Male,No,0,Graduate,No,2231,2774,176.0,360.0,0.0,Urban
236,LP002321,Female,No,0,Graduate,No,2274,5211,117.0,360.0,0.0,Semiurban
241,LP002339,Male,Yes,0,Graduate,No,3887,1517,105.0,360.0,0.0,Semiurban
243,LP002346,Male,Yes,0,Graduate,NaN,2539,1704,125.0,360.0,0.0,Rural
245,LP002355,NaN,Yes,0,Graduate,No,3186,3145,150.0,180.0,0.0,Semiurban
250,LP002383,Male,Yes,3+,Graduate,No,3242,437,142.0,480.0,0.0,Urban
255,LP002399,Male,No,0,Graduate,NaN,2858,0,123.0,360.0,0.0,Rural
266,LP002442,Female,Yes,1,Not Graduate,No,3835,1400,112.0,480.0,0.0,Urban
268,LP002450,Male,Yes,2,Graduate,No,5833,750,49.0,360.0,0.0,Rural
273,LP002495,Male,Yes,2,Graduate,No,5667,440,130.0,360.0,0.0,Semiurban
274,LP002496,Female,No,0,Graduate,No,3500,0,94.0,360.0,0.0,Semiurban
278,LP002551,Male,Yes,3+,Not Graduate,NaN,3634,910,176.0,360.0,0.0,Semiurban
293,LP002609,Female,Yes,0,Graduate,No,2241,2000,88.0,360.0,0.0,Urban
301,LP002651,Male,Yes,1,Graduate,NaN,6300,0,125.0,360.0,0.0,Urban
311,LP002747,Female,No,3+,Graduate,No,2366,5272,153.0,360.0,0.0,Rural
317,LP002774,Male,Yes,0,Not Graduate,No,1700,2900,67.0,360.0,0.0,Urban
325,LP002802,Male,No,0,Graduate,No,2875,2416,95.0,6.0,0.0,Semiurban
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban

In [24]:
loan.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [5]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

The dataset contains 367 entries for loan applications. The features includes Loan_ID, Gender, Marrital status, education and other loan details. There are 11 null values under the gender column, 10 null values under dependents, 23 null values under self-employed, 5 null values under loan amounts, 6 under loan amount term and 29 under credit history. 
The aim of my exploration is to answer some questions

The relationship between income, nature of employment and loan amount
Credit history and 
frequency of unemployed rural dwellers taking loans
relationship between education and credit history, loan amount.
The relationship between Loan amount and marital status
The percentage of married men who take loans
Comparison between married woman and single women

In [23]:
loan.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban

Quality issues
- Adress Null values
- Applicant Income descripancies
- Convert Loan amount and Amount term to integers
- 
Tidyness issues
- Loan ID as Primary Key
-